<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.android.sample">

    <application
        android:name="com.better.base.CommonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".constraintLayout.ConstaintLayoutDemo1Activity" />
        <activity android:name=".anim.TweenAnim1Activity" />
        <activity android:name=".anim.TweenAnimInterpolatorActivity" />
        <activity android:name=".anim.PropertyAnim1Activity" />
        <activity android:name=".anim.CustomEvaluatorActivity" />
        <activity android:name=".anim.ObjectAnimatorActivity" />
        <activity android:name=".anim.PropertyValuesHolderActivity" />
        <activity android:name=".anim.KeyframeActivity" />
        <activity android:name=".anim.AnimatorSetActivity" />
        <activity android:name=".anim.PropertyAnimFromXmlActivity" />
        <activity android:name=".anim.AnimatorSetSampleDemoActivity" />
        <activity android:name=".anim.LayoutAnimationActivity" />
        <activity android:name=".anim.AnimateLayoutChangesActivity" />
        <activity android:name=".canvas_paint.PaintCanvas_Base1_Activity" />
        <activity android:name=".canvas_paint.PaintCanvas_Base2_Activity" />
        <activity android:name=".canvas_paint.PaintCanvas_Region_Activity" />
        <activity android:name=".canvas_paint.CanvasActivity" />
        <activity android:name=".canvas_paint.CanvasDrawTextActivity" />
        <activity android:name=".canvas_paint.CanvasPathActivity" />
        <activity android:name=".canvas_paint.Paint_Method_Activity" />
        <activity android:name=".canvas_paint.PaintColorMatrixActivity" />
        <activity android:name=".canvas_paint.PaintColorFilterActivity" />
        <activity android:name=".canvas_paint.PaintXfermodeActivity" />
        <activity android:name=".canvas_paint.CanvasLayerActivity" />
        <activity android:name=".canvas_paint.RedPointerDragActivity" />
        <activity android:name=".canvas_paint.PaintShadowLayerActivity" />
        <activity android:name=".canvas_paint.PaintShaderActivity" />
        <activity android:name=".widget.viewgroup.FlowLayoutActivity" />
        <activity android:name=".widget.viewgroup.WaterFallActivity" />
        <activity android:name=".solution.JSBrigeActivity" />
        <activity android:name=".widget.recyler.LayoutManager1Activity" />
        <activity android:name=".widget.recyler.RecyclerViewBaseUseActivity" />
        <activity
            android:name=".md.DrawerLayoutActivity"
            android:label="@string/title_activity_drawer_layout"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>